*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
    min-height: 100vh;
    min-width: 100vw;
}
.parent{
    background-color: brown;
    height: 20vh;
    width: 20vw;
    position: relative;
    top: 100px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    height: 20vh;
    width: 20vw;
    background-color: blueviolet;
    position: sticky;
    top: 10px;
    /* position: absolute; */
    /* top: 50px; */
    
}